:root{
  --line: whitesmoke;
}
body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.250);
    backdrop-filter: blur(30px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    color: #e9f4fb;
    border-bottom: 2px solid var(--line);
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text_field{
    position: relative;
    border-bottom: 2px solid var(--line);
    margin: 30px 0;
}
.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--line);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.text_field input:focus ~ label,
.text_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.text_field input:focus ~ span::before,
.text_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: var(--line);
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
    color: #2691d9;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: none;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    box-shadow: 15px 15px 25px #00000041,inset -15px -15px 25px #ffffff40;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    animation: pulse 0.3s linear 1;
}
@keyframes pulse{
  50%  {transform: scale(0.8);}
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
    color: var(--line);
}
.signup_link a{
    color: var(--line);
    text-decoration: none;
}
.signup_link a:hover{
  color: #2691d9;
  text-decoration: underline;
}
